/* menu */
[role="navigation"]
  ul
    margin: 0
    padding: 0
    li
        list-style: none
        margin: 0

.navigation
  font-size: rem(15)
  ul
    display: table
    width: 100%
    &>li
      display: table-cell
      width: auto
      &>a
        display: block
        text-align: center
        // width: 1000px
        height: 40px
        line-height: 36px
        vertical-align: middle
        text-decoration: none
        color: $color-white
        text-transform: uppercase
        font-family: $font-intro
        border: 3px solid transparent
        transition: color 0.35s, background-color 0.35s
        white-space: nowrap
        &:hover
          border-color: $color-white
          background-color: $color-blue
      &.active
        &>a
          border-color: $color-white
          background-color: $color-blue
      &.li-special
        &>a
          background-color: $color-lightdark
          &:hover
            // border-color: transparent
            background-color: $color-blue


// CAtalog navigation
.catalog
  &__navigation
    font-family: $font-intro
    text-transform: uppercase
    font-size: rem(12)
    margin-bottom: 40px
    ul
      margin: 0
      padding: 0
      li
        margin: 0
        list-style: none
        position: relative
        &.has-folder
          &::after
            content: ''
            width: 26px
            height: 1px
            background: #ccc
            position: absolute
            right: 0
            bottom: 0
          &>a
            padding-right: 10px
            &::after
              content: '\f125'
              position: absolute
              right: 0
              top: 8px
              color: $color-dark
              font-size: rem(12)
              font-family: $font-ionicons
              // transition: transform 0.35s
          &.active
            &>a
              color: $color-blue
              &::after
                color: $color-blue
                right: 4px
                transform: rotate(90deg)
        &.active
          &>a
            color: $color-blue
          &>ul
            display: block
        a
          color: $color-dark
          text-decoration: none
          &:hover
            color: $color-blue
    ul
      &>li
        &>a
          min-height: 32px
          display: block
          padding: 9px 0 6px 0
    ul
      ul
        display: none
        padding-left: 16px
        font-size: rem(11)
        margin-top: 5px
        li
          &:last-child
            padding-bottom: 5px
          &.has-folder
            &>a
              &::after
                top: 4px
          a
            min-height: 24px
            padding: 5px 0 2px 0
  &__menu, &__filter
    &__title
      font-size: rem(20)
      font-family: $font-intro
      text-transform: uppercase
      margin-bottom: 20px
      color: $color-dark
      padding-left: 30px
      position: relative
      i
        font-size: rem(26)
        color: $color-blue
        margin-right: 10px
        top: 0
        line-height: 1
        position: absolute
        left: 0
    &__button
      display: none
      background: $color-blue
      text-align: center
      margin-bottom: 25px
      .catalog__menu__title
        display: inline-block
        color: $color-white
        font-size: rem(20)
        text-decoration: none
        margin-bottom: 0
        height: 35px
        padding: 4px 0 4px 25px
        white-space: nowrap
        margin-top: 0
        i
          color: $color-white
          font-size: rem(20)
          top: 8px

// List
ol.list
  padding: 0
  margin: 0 0 25px 0
  li
    list-style: none
    position: relative
    padding-left: 24px
    min-height: 17px
    line-height: 1.55
    &>span
      position: absolute
      width: 17px
      height: 17px
      line-height: 17px
      text-align: center
      display: block
      left: 0
      top: 0
      color: $color-white
      background-color: $color-blue
      font-size: rem(10)
      top: 3px

ul.list
  padding: 0
  margin: 0 0 25px 0
  li
    list-style: none
    position: relative
    padding-left: 24px
    min-height: 17px
    line-height: 1.55
    &::before
      position: absolute
      left: 3px
      top: -2px
      content: "\f3fd"
      color: $color-blue
      font-size: rem(28)
      line-height: 1
      font-family: $font-ionicons
  &--line
    li
      &::before
        content: ''
        width: 10px
        height: 1px
        background: $color-blue
        left: 2px
        top: 10px
