doctype

html(lang="ru")
  
  -var active = 'Корзина' //активный пункт меню, список в header.jade
  -var pageTitle = 'Корзина' + ' - TANA' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content
      .container
        
        // Breadcrumbs
        ul.breadcrumbs.hidden-xs
          li
            a(href="#!") Интернет магазин «TANA»
          li
            span Заголовок страницы
        
        .row
          .col-sm-3.hidden-xs
            
            // Catalog menu
            include ./_include/_catalog-menu

            // Banner
            .banner
              a(href="#!")
                img(src="./img/banner-sitebar.png", alt="").img-responsive
            
          .col-sm-9
            
            .h1 Корзина
            
            // Cart
            .cart
              table.cart__table
                thead
                  tr
                    th.th--1 фото
                    th.th--2.hidden-xs Наименование
                    th.th--2(colspan="4").visible-xs Наименование
                    th.th--3.hidden-xs цена
                    th.th--4.hidden-xs 
                      span.hidden-xs.hidden-sm Количество
                      span.visible-xs.visible-sm Кол-во
                    th.th--5.hidden-xs сумма
                    th.th--6.hidden-xs &nbsp;
                tbody
                  tr.tr--mobile.visible-xs
                    td.cart__img
                      a(href="#!")
                        img(src="./img/catalog-img-1.png", alt="")
                    td.cart__title(colspan="4")
                      small.cart__small Швейные челнки
                      a(href="#!")
                        strong Челнок 130.15.024 Cerliani
                  tr
                    td.cart__img.hidden-xs
                      a(href="#!")
                        img(src="./img/catalog-img-1.png", alt="")
                    td.cart__title.hidden-xs
                      small.cart__small Швейные челнки
                      a(href="#!")
                        strong Челнок 130.15.024 Cerliani
                    td.cart__price
                      small.cart__small &nbsp;
                      strong 1 299
                        i.icon-rouble
                    td.cart__number
                      small.cart__small &nbsp;
                      select.select
                        option(selected) 10
                        option 20
                        option 30
                        option 40
                        option 50
                        option 60
                    td.cart__price-total
                      small.cart__small &nbsp;
                      strong 12 990
                        i.icon-rouble
                    td.last
                      small.cart__small &nbsp;
                      a(href="#!").cart__delete
                        i.ion-backspace
                  tr.tr--mobile.visible-xs
                    td.cart__img
                      a(href="#!")
                        img(src="./img/catalog-img-2.png", alt="")
                    td.cart__title(colspan="4")
                      small.cart__small Швейные нитки
                      a(href="#!")
                        strong Комплексные швейные нитки EURON K 630/3 №15
                  tr
                    td.cart__img.hidden-xs
                      a(href="#!")
                        img(src="./img/catalog-img-2.png", alt="")
                    td.cart__title.hidden-xs
                      small.cart__small Швейные нитки
                      a(href="#!")
                        strong Комплексные швейные нитки EURON K 630/3 №15
                    td.cart__price
                      small.cart__small &nbsp;
                      strong 1 299
                        i.icon-rouble
                    td.cart__number
                      small.cart__small &nbsp;
                      select.select
                        option(selected) 72
                        option 20
                        option 30
                        option 40
                        option 50
                        option 60
                    td.cart__price-total
                      small.cart__small &nbsp;
                      strong 432 000
                        i.icon-rouble
                    td.last
                      small.cart__small &nbsp;
                      a(href="#!").cart__delete
                        i.ion-backspace
                  tr.tr--mobile.visible-xs
                    td.cart__img
                      a(href="#!")
                        img(src="./img/catalog-img-3.png", alt="")
                    td.cart__title(colspan="4")
                      small.cart__small Швейные стержни
                      a(href="#!")
                        strong Стержень для быстрой смены лапок 4009
                  tr
                    td.cart__img.hidden-xs
                      a(href="#!")
                        img(src="./img/catalog-img-3.png", alt="")
                    td.cart__title.hidden-xs
                      small.cart__small Швейные стержни
                      a(href="#!")
                        strong Стержень для быстрой смены лапок 4009
                    td.cart__price
                      small.cart__small &nbsp;
                      strong 850
                        i.icon-rouble
                    td.cart__number
                      small.cart__small &nbsp;
                      select.select
                        option(selected) 999
                        option 20
                        option 30
                        option 40
                        option 50
                        option 60
                    td.cart__price-total
                      small.cart__small &nbsp;
                      strong 849 000
                        i.icon-rouble
                    td.last
                      small.cart__small &nbsp;
                      a(href="#!").cart__delete
                        i.ion-backspace
                tfoot
                  tr
                    td.hidden-xs &nbsp;
                    td.hidden-xs &nbsp;
                    td(colspan="4").cart__table__total
                      b итого:
                      strong 1 250 380
                        i.icon-rouble
              .cart__button
                div
                  a(href="#!").btn.btn--border.btn--trash
                    span.hidden-xxs очистить
                    span.visible-xxs-inline-block
                      i.ion-trash-a
                div
                  a(href="#!").btn.btn--border.btn--shop продолжить покупки
                  br.visible-xs
                  //- button(type="submit").btn оформить
                  a(href="#!").btn.btn--ordering-form оформить
            
            // Order form
            #order-form.order-form(style="display: block")
              form(action="#!")
                .order-form__wrapper
                  .row
                    .col-sm-4
                      fieldset
                        legend.form-legend ваши данные
                        
                        .form-group.has-feedback.has-error
                          label.hidden Ваше имя
                          input(type="text" placeholder="Ваше имя").form-control
                          i.ion-alert-circled.form-control__feedback
                            
                        .form-group.has-feedback
                          label.hidden Телефон
                          input(type="text" placeholder="Телефон").form-control
                          i.ion-alert-circled.form-control__feedback
                            
                        .form-group.has-feedback
                          label.hidden Ваше email
                          input(type="email" placeholder="Ваше email").form-control
                          i.ion-alert-circled.form-control__feedback
                            
                        .form-group.has-feedback
                          label.hidden Ваше сообщение
                          textarea(placeholder="Ваше сообщение").form-control
                          i.ion-alert-circled.form-control__feedback
                            
                        .form-group
                          label.form-checkbox(for="checkbox3").nowrap
                            input#checkbox3(type="checkbox" checked).form-checkbox__input
                            span.form-checkbox__span
                            span.form-checkbox__label Согласен на обработку моих личных данных.
                              br
                              a(href="#!" target="_blank") Политика конфиденциальности
                    .col-sm-4
                      fieldset
                        legend.form-legend способ оплаты
                        
                        .form-group
                          label.form-radio.form-radio--row(for="radio-payment1")
                            input#radio-payment1(type="radio" name="radio-payment" checked).form-radio__input
                            span.form-radio__span
                            span.form-radio__label 
                              strong Наличными
                              br
                              small Курьеру. При самовывозе.
                        
                        .form-group
                          label.form-radio.form-radio--row(for="radio-payment2")
                            input#radio-payment2(type="radio" name="radio-payment").form-radio__input
                            span.form-radio__span
                            span.form-radio__label 
                              strong Картой
                              br
                              small Курьеру. При самовывозе.
                        
                        .form-group
                          label.form-radio.form-radio--row(for="radio-payment3")
                            input#radio-payment3(type="radio" name="radio-payment").form-radio__input
                            span.form-radio__span
                            span.form-radio__label 
                              strong Безналичным платежом
                              br
                              small Для физических и юридических лиц.
                    .col-sm-4
                      fieldset
                        legend.form-legend способ доставки
                        
                        .form-group
                          label.form-radio.form-radio--row(for="radio-delivery1")
                            input#radio-delivery1(type="radio" name="radio-delivery" checked).form-radio__input
                            span.form-radio__span
                            span.form-radio__label 
                              strong Самовывоз
                              br
                              small г. Москва, ул. Первая делова, д.2, оф.3 
                              
                        .form-group
                          label.form-radio.form-radio--row(for="radio-delivery2")
                            input#radio-delivery2(type="radio" name="radio-delivery").form-radio__input
                            span.form-radio__span
                            span.form-radio__label 
                              strong Доставка
                              br
                              small Курьеру. На сайте. При самовывозе.
                        
                        .form-group
                          label.form-radio.form-radio--row(for="radio-delivery3")
                            input#radio-delivery3(type="radio" name="radio-delivery").form-radio__input
                            span.form-radio__span
                            span.form-radio__label 
                              strong За МКАД
                              br
                              small От 100 000 руб.
                        
                        #delivery-form.delivery-form
                          .form-group.has-feedback
                            label.hidden Город
                            input(type="text" placeholder="Город").form-control
                            i.ion-alert-circled.form-control__feedback
                          
                          .form-group.has-feedback
                            label.hidden Улица
                            input(type="text" placeholder="Улица").form-control
                            i.ion-alert-circled.form-control__feedback
                          
                          .row
                            .col-xs-6
                              .form-group.has-feedback
                                label.hidden Дом
                                input(type="text" placeholder="Дом").form-control
                                i.ion-alert-circled.form-control__feedback
                            .col-xs-6
                              .form-group.has-feedback
                                label.hidden Кв
                                input(type="text" placeholder="Кв").form-control
                                i.ion-alert-circled.form-control__feedback
    
                .order-form__title Итого
                .order-form__total
                  .order-form__total__wrapper
                    div Товаров: 1 230
                    div Доставка: не требуется, самовывоз 
                      .visible-xs.visible-sm К оплате: 
                        strong 1 966 555 
                          i.icon-rouble
                    div.hidden-xs.hidden-sm К оплате: 
                      strong 1 966 555 
                        i.icon-rouble
                
                button(type="submit").btn.btn--order Оформить заказ
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    include ./_include/_footer-js
    // Load Scripts
    script(src="./js/libs.js")
    script(src="./js/libs/slick/slick.min.js")
    script(src="./js/libs/jquery-selectric/jquery.selectric.min.js")
    script(src="./js/libs/readmore/readmore.min.js")
    script(src="./js/libs/swiper/js/swiper.min.js")
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
