doctype

html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - TANA' //title страницы для генерации верстки  
  -var seo = 'true'

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content
      .container
        .row
          .col-sm-3.hidden-xs
            
            // Catalog menu
            include ./_include/_catalog-menu
            
            // Banner
            .banner
              a(href="#!")
                img(src="./img/banner-sitebar.png", alt="").img-responsive
            
          .col-sm-9
            
            // Main banner carousel
            .main-carousel
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="").img-responsive
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="").img-responsive
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="").img-responsive
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="").img-responsive
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="").img-responsive
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="").img-responsive
            
            // Catalog menu mobile button
            .catalog__menu__button
              a(href="#popup-catalog-menu").catalog__menu__title.open-popup-menu
                i.ion-ios-list
                | Каталог товаров
            
            // Section head
            .section__head.section__head--small.section__head--blue производители
            
            // Manufacturer
            .manufacturer
              // Slider main container
              // If we need navigation buttons
              .manufacturer__prev
                i.ion-arrow-left-b
              .manufacturer__next
                i.ion-arrow-right-b
              
              .manufacturer__wrapper
                .swiper-container
                  // Additional required wrapper
                  .swiper-wrapper
                    // Slides
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-1.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-2.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-3.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-4.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-5.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-6.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-7.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-8.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-1.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-2.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-3.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-4.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-5.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-6.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-7.png", alt="")
                    .swiper-slide
                      a(href="#!").manufacturer__block
                        span
                        span
                        img(src="./img/manufacturer-logo-8.png", alt="")
                        
            // Section head
            .section__head.section__head--blue Специальное предложение
            
            // Catalog
            .catalog
              
              .catalog__row
                .catalog__block
                  form(action="#!")
                    .catalog__block__line
                    i.icon.icon--action
                    .catalog__block__info Швейные челнки
                    .catalog__block__title Челнок 130.15.024 Cerliani
                    .catalog__block__img
                      img(src="./img/catalog-img-1.png", alt="")
                    .catalog__block__bottom
                      .catalog__block__price
                        div
                          strong 1 299
                            i.icon.icon-rouble
                        div
                          sup 1 699
                            i.icon.icon-rouble
                      button(type="button").btn.btn--border Купить
                      
                .catalog__block
                  form(action="#!")
                    .catalog__block__line
                    .catalog__block__info Швейные нитки
                    .catalog__block__title Комплексные швейные нитки EURON K 630/3 №15
                    .catalog__block__img
                      img(src="./img/catalog-img-2.png", alt="")
                    .catalog__block__bottom
                      .catalog__block__price
                        div
                          strong 899
                            i.icon.icon-rouble
                      button(type="button").btn.btn--border Купить
                      
                .catalog__block
                  form(action="#!")
                    .catalog__block__line
                    .catalog__block__info Швейные стержни
                    .catalog__block__title Стержень для быстрой смены лапок 4003
                    .catalog__block__img
                      img(src="./img/catalog-img-3.png", alt="")
                    .catalog__block__bottom
                      .catalog__block__price
                        div
                          strong 10 999
                            i.icon.icon-rouble
                      button(type="button").btn.btn--border Купить
                      
                .catalog__block
                  form(action="#!")
                    .catalog__block__line
                    .catalog__block__info Окантователи
                    .catalog__block__title Окантователь  зиг заг (3слож)
                    .catalog__block__img
                      img(src="./img/catalog-img-4.png", alt="")
                    .catalog__block__bottom
                      .catalog__block__price
                        div
                          strong 1 699
                            i.icon.icon-rouble
                      button(type="button").btn.btn--border Купить
                      
                .catalog__block
                  form(action="#!")
                    .catalog__block__line
                    .catalog__block__info Швейные подгибки
                    .catalog__block__title Подгибка КНР-23
                    .catalog__block__img
                      img(src="./img/catalog-img-5.png", alt="")
                    .catalog__block__bottom
                      .catalog__block__price
                        div
                          strong 699
                            i.icon.icon-rouble
                      button(type="button").btn.btn--border Купить
                      
                .catalog__block
                  form(action="#!")
                    .catalog__block__line
                    .catalog__block__info Швейные стержни
                    .catalog__block__title Стержень для быстрой смены лапок 4009
                    .catalog__block__img
                      img(src="./img/catalog-img-6.png", alt="")
                    .catalog__block__bottom
                      .catalog__block__price
                        div
                          strong 10 999
                            i.icon.icon-rouble
                      button(type="button").btn.btn--border Купить
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    include ./_include/_footer-js
    // Load Scripts
    script(src="./js/libs.js")
    script(src="./js/libs/slick/slick.min.js")
    script(src="./js/libs/jquery-selectric/jquery.selectric.min.js")
    script(src="./js/libs/readmore/readmore.min.js")
    script(src="./js/libs/swiper/js/swiper.min.js")
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
