doctype

html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - TANA' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content
      .container
        .row
          .col-sm-3.hidden-sm.hidden-xs
            
            .catalog__title Каталог товаров
            .catalog__navigation
              ul
                li
                  a(href="#!") Запчасти Отечественныe
                li
                  a(href="#!") Запчасти Раскройных Машин
                li
                  a(href="#!") Запчасти Специальные
                li
                  a(href="#!") Запчасти универсальные
                li
                  a(href="#!") Комплектующие к ВТО
                li
                  a(href="#!") Оснастка швейных машин
                li
                  a(href="#!") Очистители Масло Мел
                li
                  a(href="#!") Приспособления Окантователи
                li
                  a(href="#!") Этикетпистолеты Маркеры кроя
            
            // Banner
            .banner
              a(href="#!")
                img(src="./img/banner-sitebar.png", alt="").img-responsive
            
          .col-sm-9
            
            // Main banner carousel
            .main-carousel
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="").img-responsive
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="").img-responsive
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="").img-responsive
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="").img-responsive
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="").img-responsive
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="").img-responsive
                  
            // Section head
            .section__head.section__head--small производители
            
            // Section head
            .section__head Специальное предложение
            
            // Catalog
            .catalog
              
              .catalog__row
                .catalog__block
                  form(action="#!")
                    .catalog__block__line
                    i.icon.icon--action
                    .catalog__block__info Швейные челнки
                    .catalog__block__title Челнок 130.15.024 Cerliani
                    .catalog__block__img
                      img(src="./img/catalog-img-1.png", alt="")
                    .catalog__block__bottom
                      .catalog__block__price
                        div
                          strong 1 299
                            i.icon.icon-rouble
                        div
                          sup 1 699
                            i.icon.icon-rouble
                      button(type="button").btn.btn--border Купить
                      
                .catalog__block
                  form(action="#!")
                    .catalog__block__line
                    .catalog__block__info Швейные нитки
                    .catalog__block__title Комплексные швейные нитки EURON K 630/3 №15
                    .catalog__block__img
                      img(src="./img/catalog-img-2.png", alt="")
                    .catalog__block__bottom
                      .catalog__block__price
                        div
                          strong 899
                            i.icon.icon-rouble
                      button(type="button").btn.btn--border Купить
                      
                .catalog__block
                  form(action="#!")
                    .catalog__block__line
                    .catalog__block__info Швейные стержни
                    .catalog__block__title Стержень для быстрой смены лапок 4003
                    .catalog__block__img
                      img(src="./img/catalog-img-3.png", alt="")
                    .catalog__block__bottom
                      .catalog__block__price
                        div
                          strong 10 999
                            i.icon.icon-rouble
                      button(type="button").btn.btn--border Купить
                      
                .catalog__block
                  form(action="#!")
                    .catalog__block__line
                    .catalog__block__info Окантователи
                    .catalog__block__title Окантователь  зиг заг (3слож)
                    .catalog__block__img
                      img(src="./img/catalog-img-4.png", alt="")
                    .catalog__block__bottom
                      .catalog__block__price
                        div
                          strong 1 699
                            i.icon.icon-rouble
                      button(type="button").btn.btn--border Купить
                      
                .catalog__block
                  form(action="#!")
                    .catalog__block__line
                    .catalog__block__info Швейные подгибки
                    .catalog__block__title Подгибка КНР-23
                    .catalog__block__img
                      img(src="./img/catalog-img-5.png", alt="")
                    .catalog__block__bottom
                      .catalog__block__price
                        div
                          strong 699
                            i.icon.icon-rouble
                      button(type="button").btn.btn--border Купить
                      
                .catalog__block
                  form(action="#!")
                    .catalog__block__line
                    .catalog__block__info Швейные стержни
                    .catalog__block__title Стержень для быстрой смены лапок 4009
                    .catalog__block__img
                      img(src="./img/catalog-img-6.png", alt="")
                    .catalog__block__bottom
                      .catalog__block__price
                        div
                          strong 10 999
                            i.icon.icon-rouble
                      button(type="button").btn.btn--border Купить
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    include ./_include/_footer-js
    // Load Scripts
    script(src="./js/libs.js")
    script(src="./js/libs/slick/slick.min.js")
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
