doctype

html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - TANA' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content
      .container
        
        .row
          .col-md-3
            
            // Banner
            .banner
              a(href="#!")
                img(src="./img/banner-sitebar.png", alt="").img-responsive
            
          .col-md-9
            
            // Main carousel
            .main-carousel
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="")
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="")
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="")
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="")
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="")
              div
                a(href="#!")
                  img(src="./img/banner-top.png", alt="")
                  
        

    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    include ./_include/_footer-js
    // Load Scripts
    script(src="./js/libs.js")
    script(src="./js/libs/slick/slick.min.js")
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
