#catalog__menu.catalog__menu
  .catalog__menu__title 
    i.ion-ios-list
    | Каталог товаров
  .catalog__navigation
    ul
      li.has-folder
        a(href="#!") Запчасти Отечественныe
        ul.ul-folder
          li
            a(href="#!") Аксессуары
          li
            a(href="#!") Запчасти к приводам
          li
            a(href="#!") Инструмент
          li
            a(href="#!") Моталки настольные
          li
            a(href="#!") Пуллеры и растинги
          li.has-folder
            a(href="#!") Ремни приводные
            ul.ul-folder
              li
                a(href="#!") Ремни зубчатые
              li
                a(href="#!") Ремни кожанные
              li
                a(href="#!") Ремни кордовые Текстропные
              li
                a(href="#!") Ремни пластиковые
      li.has-folder
        a(href="#!") Запчасти Раскройных Машин
        ul.ul-folder
          li
            a(href="#!") Аксессуары
          li
            a(href="#!") Запчасти к приводам
          li
            a(href="#!") Инструмент
          li
            a(href="#!") Моталки настольные
          li
            a(href="#!") Пуллеры и растинги
          li.has-folder
            a(href="#!") Ремни приводные
            ul.ul-folder
              li
                a(href="#!") Ремни зубчатые
              li
                a(href="#!") Ремни кожанные
              li
                a(href="#!") Ремни кордовые Текстропные
              li
                a(href="#!") Ремни пластиковые
      li.has-folder
        a(href="#!") Запчасти Специальные
        ul.ul-folder
          li
            a(href="#!") Аксессуары
          li
            a(href="#!") Запчасти к приводам
          li
            a(href="#!") Инструмент
          li
            a(href="#!") Моталки настольные
          li
            a(href="#!") Пуллеры и растинги
          li.has-folder
            a(href="#!") Ремни приводные
            ul.ul-folder
              li
                a(href="#!") Ремни зубчатые
              li
                a(href="#!") Ремни кожанные
              li
                a(href="#!") Ремни кордовые Текстропные
              li
                a(href="#!") Ремни пластиковые
      li.has-folder
        a(href="#!") Запчасти универсальные
        ul.ul-folder
          li
            a(href="#!") Аксессуары
          li
            a(href="#!") Запчасти к приводам
          li
            a(href="#!") Инструмент
          li
            a(href="#!") Моталки настольные
          li
            a(href="#!") Пуллеры и растинги
          li.has-folder
            a(href="#!") Ремни приводные
            ul.ul-folder
              li
                a(href="#!") Ремни зубчатые
              li
                a(href="#!") Ремни кожанные
              li
                a(href="#!") Ремни кордовые Текстропные
              li
                a(href="#!") Ремни пластиковые
      li.has-folder
        a(href="#!") Комплектующие к ВТО
        ul.ul-folder
          li
            a(href="#!") Аксессуары
          li
            a(href="#!") Запчасти к приводам
          li
            a(href="#!") Инструмент
          li
            a(href="#!") Моталки настольные
          li
            a(href="#!") Пуллеры и растинги
          li.has-folder
            a(href="#!") Ремни приводные
            ul.ul-folder
              li
                a(href="#!") Ремни зубчатые
              li
                a(href="#!") Ремни кожанные
              li
                a(href="#!") Ремни кордовые Текстропные
              li
                a(href="#!") Ремни пластиковые
      li.has-folder
        a(href="#!") Оснастка швейных машин
        ul.ul-folder
          li
            a(href="#!") Аксессуары
          li
            a(href="#!") Запчасти к приводам
          li
            a(href="#!") Инструмент
          li
            a(href="#!") Моталки настольные
          li
            a(href="#!") Пуллеры и растинги
          li.has-folder
            a(href="#!") Ремни приводные
            ul.ul-folder
              li
                a(href="#!") Ремни зубчатые
              li
                a(href="#!") Ремни кожанные
              li
                a(href="#!") Ремни кордовые Текстропные
              li
                a(href="#!") Ремни пластиковые
      li.has-folder
        a(href="#!") Очистители Масло Мел
        ul.ul-folder
          li
            a(href="#!") Аксессуары
          li
            a(href="#!") Запчасти к приводам
          li
            a(href="#!") Инструмент
          li
            a(href="#!") Моталки настольные
          li
            a(href="#!") Пуллеры и растинги
          li.has-folder
            a(href="#!") Ремни приводные
            ul.ul-folder
              li
                a(href="#!") Ремни зубчатые
              li
                a(href="#!") Ремни кожанные
              li
                a(href="#!") Ремни кордовые Текстропные
              li
                a(href="#!") Ремни пластиковые
      li.has-folder
        a(href="#!") Приспособления Окантователи
        ul.ul-folder
          li
            a(href="#!") Аксессуары
          li
            a(href="#!") Запчасти к приводам
          li
            a(href="#!") Инструмент
          li
            a(href="#!") Моталки настольные
          li
            a(href="#!") Пуллеры и растинги
          li.has-folder
            a(href="#!") Ремни приводные
            ul.ul-folder
              li
                a(href="#!") Ремни зубчатые
              li
                a(href="#!") Ремни кожанные
              li
                a(href="#!") Ремни кордовые Текстропные
              li
                a(href="#!") Ремни пластиковые
      li
        a(href="#!") Этикетпистолеты Маркеры кроя
