// Footer
footer.footer
  
  if seo == 'true'
    .footer__seo
      .container
        
        .h6 Запчасти для промышленных швейных машин
        
        .footer__seo__text
          p В нашей базе представлен широкий ассортимент запчастей для промышленных швейных машин BROTHER, PEGASUS, DÜRKOPP ADLER, JUKI, MITSUBISHI, PFAFF, KANSAI SPECIAL, JOYEE, GOLDEN WHEEL, AURORA, PROTEX, GLOBAL, KINGTEX, MAUSER, MERROW, REECE, RIMOLDI, SINGER, SIRUBA, SUN STAR, TOYOTA, UNION SPECIAL, YAMATO, DINO
            br
            | База сайта содержит 500 000 запчастей! 
          p Чтобы найти необходимую запчасть - введите оригинальный номер запчасти в окно поиска. 
          p В нашей базе представлен широкий ассортимент запчастей для раскройного оборудования  AURORA, KM, BULLMER, EASTMAN, FKARNA, GERBER, HITAKA, HOOGS, INVESTRONIСA, KM, KURIS, LECTRA, SHIMA SEIKI, SUPERNA, UNICUT.
          p Чтобы найти необходимую запчасть - введите оригинальный номер запчасти в окно поиска.
      
  .footer__bottom
    .container
      
      .row
        .col-sm-3.hidden-xs
          .footer__navigation
            .footer__title ИНФОРМАЦИЯ
            ul
              li
                a(href="#!") Спецпредложения
              li
                a(href="#!") О магазине
              li
                a(href="#!") Оплата и доставка
        .col-sm-3.hidden-xs
          .footer__navigation
            .footer__title СЛУЖБА ПОДДЕРЖКИ
            ul
              li
                a(href="#!") Связаться с нами
              li
                a(href="#!") Контакты
        .col-sm-3.hidden-xs
          .footer__navigation
            .footer__title ДОПОЛНИТЕЛЬНО
            ul
              li
                a(href="#!") Производители (бренды)
              li
                a(href="#!") Новости
        .col-sm-3
          .footer__info
            strong 
              a(href="callto:") 8 800 555 50 50
            br
            p info@site-name.ru
              br
              | г. Москва, ул. Первая деловая, д 2, оф 3
              br
              | ООО "TANA" © 2011 - 2017
  
  .footer__about
    .container
      
      p Описание и изображение товара носит информационный характер и может отличаться от описания и изображений, представленных в технической документации производителя. Рекомендуем при покупке проверять наличие желаемых функций и характеристик. Данная информация не является офертой, определяемой положениями статей 435, 437 Гражданского Кодекса РФ. 
        br
        | Внимание! Цены в магазине могут отличаться от представленных на сайте. Точную цену товара уточняйте у менеджеров в магазине.
