// Header
header.header
  
  .header__top
    .container
      
      .header__logo
        a(href="#!")
        img(src="./img/logo-tana.svg", alt="")
      
      .header__phone.hidden-xs
        strong
          a(href="callto:") 8 800 555 50 50
        small
          a(href="#popup-call").open-popup-link Заказать обратный звонок
      
      .header__time.hidden-sm.hidden-xs
        strong 9:00 - 18:00
        small Пн - Пт , Сб - ВС выходной
      
      .header__cart
        a(href="#!")
        .header__cart__icon
          i.icon.icon--cart
          span 97
        strong корзина
        small Товаров на 99 880
          i.icon-rouble
  
  .header__bottom
    .container
      
      .header__text.hidden-xs
        strong расходные материалы и запчасти 
        small для промышленного швейного оборудования
      
      .header__search
        form(action="#!").header__search__form
          input(type="text" placeholder="Введите наименование").header__search__input
          button(type="submit").header__search__btn
            i.ion-android-search
        .header__fast-search
          ul.fast-search
            li
              a(href="#!")
                img(src="./img/fast-search-img1.png", alt="")
                span.fast-search__title Стержень для быстрой смены лапок 4009
                span.fast-search__price 699
                  i.icon.icon-rouble
            li
              a(href="#!")
                img(src="./img/fast-search-img2.png", alt="")
                span.fast-search__title Стержень для быстрой смены лапок 4009
                span.fast-search__price 522
                  i.icon.icon-rouble
            li
              a(href="#!")
                img(src="./img/fast-search-img3.png", alt="")
                span.fast-search__title Стержень для быстрой смены лапок 4009
                span.fast-search__price 129
                  i.icon.icon-rouble
            li.last
              a(href="#!") Все результаты поиска
      
  .header__menu
    .container
      -var navigation = { 'Главная': '#', 'О компании': '#', 'Оплата и доставка': '#', 'Производители': '#', 'Контакты': '#', 'Спец.предложения': '#'};
      
      .header__menu__background
      
      button#btn-mobile.hamburger(type='button').hamburger--slider.hamburger--header
        span.hamburger-box
          span.hamburger-inner
        strong Меню

      
      nav.navigation(role="navigation")
        ul
          each val, key in navigation
            if active === key
              li.active
                a(href=val, title=key)= key
            else
              li
                a(href=val, title=key)= key
