.loader
  .loader__block

#popup-call.popup.mfp-hide
  .form
    form(action="#!")
      fieldset
        legend обратный звонок
        .form-group.has-feedback.has-error
          label.hidden Ваше имя
          input(type="text" placeholder="Ваше имя").form-control
        .form-group
          label.hidden Номер телефона
          input(type="text" placeholder="Номер телефона").form-control
        .form-group
          label.hidden Время звонка
          select.form-control
            option Время звонка
          
        button(type="submit").btn заказать звонок
