/*==========  Desktop First Method  ==========*/

/* 1920 */
@media only screen and (min-width : 1999px)
  /**/

@media only screen and (max-width : 1599px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1439px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  .header
    &__search
      width: 310px
      margin-right: 35px
      &__input

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .footer
    &__seo
      &__text
        columns: inherit
        p
          &:last-child
            margin-bottom: 0
  .header
    &__search
      width: 37px

  .navigation
    font-size: rem(13)
    ul
      li
        &:first-child
          display: none


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

  .animated
    transition-property: none !important
    transform: none !important
    animation: none !important

  .header
    &__logo
      margin-top: 3px
      img
        width: 221px
        height: 44px
    &__search
      width: 100%
      max-width: 450px
      margin-left: auto
      margin-right: auto
      float: none
    &__menu
      &.is-active
        .navigation
          visibility: visible
          opacity: 1
          transform: translateY(0px)

  .footer
    &__info
      text-align: center
      strong
        font-size: rem(22)
        margin-top: 0
        &::before
          top: 4px
    &__seo
      &__text
        p
          // opacity: 0
          &:first-child
            // opacity: 1

  .navigation
    // display: block
    visibility: hidden
    opacity: 0
    transform: translateY(10px)
    position: absolute
    background: $color-dark
    top: 38px
    left: 50%
    margin-left: -145px
    width: 290px
    z-index: 100
    transition: transform 0.35s, opacity 0.35s
    ul
      display: block
      li
        display: block
        &.active
          a
            background-color: $color-blue
            height: 37px
            line-height: 34px
        &:first-child
          display: block
        a
          display: block
          text-align: center
          &:hover
            border: 0
            background-color: $color-lightdark
  .hamburger
    &--header
      display: block

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  .header
    &__logo
      margin-top: 9px
      img
        width: 163px
        height: 32px
    &__cart
      padding-left: 0
      min-width: 110px
      &__icon
        display: none

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
  /**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .container
    width: 750px

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .container
    width: 970px

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .container
    width: 1170px

/* 1440 */
@media only screen and (min-width : 1440px)
  /**/

@media only screen and (max-width : 1600px)
  /**/

/* 1920 */
@media only screen and (min-width : 1920px)
  /**/
