/*==========  Desktop First Method  ==========*/

/* 1920 */
@media only screen and (min-width : 1999px)
  /**/

@media only screen and (max-width : 1599px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1439px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  .header
    &__search
      width: 310px
      margin-right: 35px
  .manufacturer
    &__prev, &__next
      i
        margin-top: 0
  .catalog
    &__menu, &__filter
      &__title
        font-size: rem(18)
        i
          top: -1px
  .news
    &__block
      &__text
        max-height: 122px
  .document
    &__about
      margin-top: 0
      margin-bottom: 30px
      &__wrapper
        &>div
          &:last-child
            width: 334px
      &__text
        margin: 0
        width: auto
        background: none
        padding: 10px 30px 5px 0
        max-height: 164px
  .payment
    &__info
      width: 215px
  .form
    &__captcha
      width: 138px
  .filter
    &__cost
      input
        width: 50px
  .product
    &__gallery
      width: 375px
    &__wrapper
      margin-bottom: 20px
    &__price
      padding-bottom: 20px
      &__wrapper
        display: block
        &>div
          display: block
          padding-top: 10px
          .btn
            width: 100%
          &:last-child
            width: inherit
  .cart
    &__title
      width: 240px
  .order-form
    &__total
      font-size: rem(12)

@media only screen and (max-width: 1199px) and (min-width : 991px)
  .catalog
    &__block
      height: 446px
      &__title
        height: 85px
      &__img
        max-height: 155px
        img
          max-height: 155px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .footer
    &__seo
      &__text
        columns: inherit
        p
          &:last-child
            margin-bottom: 0
  .header
    &__search
      width: 37px
      &__cap
        display: block
      &.is-tablet
        .header__search__input
          width: 500px
          left: inherit
          right: 0
        .header__search__cap
          display: none
        .header__fast-search
          width: 500px
          left: inherit
      &.is-search
        .header__fast-search
          display: none
      &.is-tablet.is-search
        .header__fast-search
          display: block
  .navigation
    font-size: rem(13)
    ul
      li
        &:first-child
          display: none
  .catalog
    &__block
      width: 50%
      margin-bottom: 35px
      &::after, &::before
        display: none !important
      &:nth-child(2n+1)
        // background-color: pink
        &::after
          display: block !important
    &__menu, &__filter
      &__title
        font-size: rem(14)
        margin-top: -5px
        i
          top: 2px
  .manufacturer
    &__prev, &__next
      i
        margin-top: 1px
  .news
    &__block
      &__wrapper
        &>div
          &:first-child
            width: 157px
          &+div
            padding-left: 30px
      &__text
        padding: 0
        margin: -3px 0 0 0
        background: none
        max-height: 133px
  .document
    &__about
      &__wrapper
        display: block
        &>div
          display: block
          &:last-child
            width: 100%
      .img-thumbnails
        max-width: 550px
        margin: 0 auto
      &__text
        padding: 0
        max-height: inherit
        margin-bottom: 20px
  .payment
    &__info
      width: 220px
  .tab
    &__ul
      li
        a
          padding: 0 10px
  .filter
    &__cost
      input
        width: 45px
      .table-cell
        &+.table-cell
          padding-left: 5px
  .product
    &__wrapper
      display: block
      &>div
        display: block
        &:first-child
          width: auto
        &+div
          padding-left: 0
          padding-top: 25px
    &__gallery
      width: 100%
    &__price
      margin-top: 0
      width: 100%
      max-width: 295px
      margin-bottom: 20px
  .manufacturer
    &-list
      &__block
        img
          max-width: 80%
  .cart
    &__title
      font-size: rem(14)
    &__number
      .selectric-wrapper
        width: 70px
    &__table
      thead
        th
          &+th
            padding-left: 10px
          &.th--2
            padding-left: 10px
      tbody
        td
          &+td
            padding-left: 10px
    &__button
      .btn
        min-width: 140px
  .btn
    &--shop
      width: 200px !important
      margin-right: 23px !important
  .order-form
    &__total
      &__wrapper
        &>div
          vertical-align: top
          &:nth-child(2)
            text-align: right
            &>div
              padding-top: 10px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

  .animated
    transition-property: none !important
    transform: none !important
    animation: none !important
  .header
    &__logo
      margin-top: 3px
      img
        width: 221px
        height: 44px
    &__search
      width: 100%
      max-width: 450px
      margin-left: auto
      margin-right: auto
      float: none
      &__cap
        display: none
      &__input
        width: calc(100% - 37px) !important
        left: 0 !important
      &.is-search
        .header__fast-search
          display: block !important
    &__fast-search
      width: auto !important
      left: 0 !important
    &__menu
      &.is-active
        .navigation
          visibility: visible
          opacity: 1
          transform: translateY(0px)
        .header__menu__background
          display: block
          position: fixed
          left: 0
          top: 0
          right: 0
          bottom: 0
          background: rgba($color-black,0.4)
          z-index: 50
  .footer
    &__info
      text-align: center
      strong
        font-size: rem(22)
        margin-top: 0
        &::before
          // top: 4px
          top: 3px
          transform: translateY(0)
    &__seo
      &__text
        margin-bottom: 10px
  .navigation
    // display: block
    visibility: hidden
    opacity: 0
    transform: translateY(10px)
    position: absolute
    background: $color-dark
    top: 38px
    left: 50%
    margin-left: -145px
    width: 290px
    z-index: 100
    transition: transform 0.35s, opacity 0.35s
    box-shadow: 0 5px 30px rgba($color-black,0.25)
    ul
      display: block
      li
        display: block
        &.active
          a
            background-color: $color-blue
            line-height: 1
            padding: 13px 0 0 0
        &:first-child
          display: block
        a
          display: block
          text-align: center
          border: 0
          height: 37px
          line-height: 37px
          &:hover

            background-color: $color-lightdark
  .hamburger
    &--header
      display: block
  .catalog
    &__block
      height: 446px
      &__title
        height: 85px
      &__img
        max-height: 155px
        img
          max-height: 155px
    &__menu, &__filter
      &__button
        display: block
    &__category
      ul
        li
          &>a, &>span
            height: 60px
    &__buttons
      display: table
  .section
    &__head
      font-size: rem(24)
      padding-left: 50px
      &::before
        top: 12px
      &--small
        font-size: rem(14)
        &::before
          top: 6px
  .main-carousel
    margin-bottom: 23px !important
  .news
    &__block
      padding-bottom: 20px
      &__wrapper
        &>div
          &+div
            padding-left: 0px
  .tab
    &--payment
      .tab__ul
        padding: 0
        li
          float: none
          display: block
          a
            padding: 0 16px
  .payment
    &__info
      width: 100%
      &__head
        padding-top: 18px
  ul, ol
    &.list
      margin-bottom: 15px
  .form
    &__captcha
      width: 216px
  .search
    &__result
      padding-bottom: 62px
      margin-bottom: 30px
      &__btn
        position: absolute
        bottom: 11px
        left: 11px
        width: calc(100% - 22px)
  .manufacturer
    &-list
      &__block
        width: 50%
        img
          max-width: inherit
    &__about
      &__wrapper
        &>div
          &:first-child
            padding-right: 0
  .cart
    tr
      &.tr--mobile
        td
          padding-bottom: 0 !important
        &+tr
          td
            padding-top: 0 !important
    &__price-total
      width: 50%
    &__button
      .btn--shop
        margin-right: 0 !important
        margin-bottom: 15px
  .order-form
    &__wrapper
      max-width: 300px
      margin-left: auto
      margin-right: auto
      fieldset
        margin-bottom: 10px
  .form-legend
    font-size: rem(20)
    margin-bottom: 15px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  .h1, h1
    font-size: rem(28)
  .h2, h2
    font-size: rem(22)
    &.line
      &::before
        top: 11px
  .header
    &__logo
      margin-top: 9px
      img
        width: 163px
        height: 32px
    &__cart
      padding-left: 0
      min-width: 110px
      &__icon
        display: none
    &__fast-search
      display: none
    &__search
      &.is-search .header__fast-search
        display: none !important
  .catalog
    &__block
      height: auto
      width: 100%
      max-width: 320px
      margin: 0 auto 15px
      float: none
      &:nth-child(1n)
        &::after, &::before
          display: none !important
    &__row
      margin: 0
    &__buttons
      display: block
      &>div
        display: block
        width: 100%
        &+div
          padding: 1px 0 0 0
  .manufacturer
    &__block
      span
        display: none
  .pagination
    background: none
    margin: 0 -15px
    &__wrapper
      padding: 0
      ul
        li
          &.pagination__prev
            margin-right: 10px
          &.pagination__next
            margin-left: 10px
  .payment
    &__info
      &__head
        padding-top: 9px
  div.table
    &--480-block
      display: flex
      flex-direction: column
      &>div
        display: block
        &:first-child
          order: 2
        &:last-child
          order: 1
        &+div
          padding-left: 0
          padding-bottom: 15px
  .col-xxs-12
    width: 100%
    float: none
    display: block
  .hidden-xxs
    display: none !important
  .manufacturer
    &-list
      &__block
        width: 100%
        img
          max-width: inherit
  .cart
    &__total
      padding-right: 10px
  .btn
    &--trash
      width: 30px !important
      min-width: inherit !important
      padding: 0
      font-size: rem(18)
      color: $color-red
    &--shop
      width: 234px !important

  .visible-xxs-inline-block
    display: inline-block !important

  .order-form__total__wrapper
    display: block
    &>div
      display: block
      padding: 0 0 10px 0
      text-align: center
      &:nth-child(2)
        text-align: center
        padding-bottom: 0
      &:last-child
        padding-bottom: 0

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
  /**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .container
    width: 750px

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .container
    width: 970px

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .container
    width: 1170px

/* 1440 */
@media only screen and (min-width : 1440px)
  /**/

@media only screen and (max-width : 1600px)
  /**/

/* 1920 */
@media only screen and (min-width : 1920px)
  /**/
